.cart{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}
.usersCart{
    border: 1px solid red;
    width: max-content;
}
.cartTitleAndPrice{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}