.cart{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    height: 800px;
}
.usersCart{
    border: 1px solid red;
}
h1 {
    font-family: 'Dogfish', sans-serif;
}