.singleReviewCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: none;
  width: 600px;
  margin: 12px;
}

.allReviews {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: space-around;
}
/* PAGINATION STYLES */
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding: 0;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 4px;
  font-family: 'Dogfish', sans-serif;
  color: black;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background-color: rgb(255, 216, 19);
  color: black;

}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}