.adminUserPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminUserTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.adminUserButtons{
    display: flex;
    flex-direction: row;
    gap:10px
}

/* Below is for Admin Product page */

.adminProductPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminProductTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 690px;
}

.adminProductButton {
    display: flex;
    flex-direction: row;
    gap:10px
}
.adminProductTd
/* PAGINATION STYLES */
.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding: 0;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 4px;
    font-family: 'Dogfish', sans-serif;
    color: black;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background-color: rgb(255, 216, 19);
    color: black;

  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }