.adminUserPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminUserTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/* Below is for Admin Product page */

.adminProductPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminProductTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.adminProductButton {
    display: flex;
    flex-direction: row;
}

.adminsUserEditPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adminEditInput {
    margin: 10px;
}

.adminEditP {
    margin: 5px;
}

.adminformDetail {
    outline: none;
}