.adminUserPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminUserTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Below is for Admin Product page */

.adminProductPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminProductTable {
    outline: 4px solid;
    outline-color: rgb(148, 148, 148);
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.adminProductButton {
    display: flex;
    flex-direction: row;
}

.adminUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminUserButtons {
    display: flex;
    flex-direction: row;
}

.adminH2 {
    font-size: 28pt;
}

.adminsUserEditPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adminEditInput {
    margin: 10px;
}

.adminEditP {
    margin: 5px;
}

.adminEditSmallP {
    margin: 2px;
}

.adminformDetail {
    outline: none;
}