.filterBar{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 20px;
    align-items: center;
    width: 250px;
    height: 600px;
    font-family: 'Dogfish', sans-serif;

}