.allBooks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}
.book {
    height: 250px;
    width: auto;
}
.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}
.productCardButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}