body {
  font-family: verdana;
  margin: 0;
  padding: 0;
  background-image: url(../../../static/wallpaper/pow.jpg);
}

/* Main Page's header design */

.upperBar {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 30px;
}

.upperBarMessage {
  color: white;
  font-size: 10pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 54, 54);
  height: 140px;
  border: none;
  margin: 0;
  }

.main_header h1 {
  font-family: 'Dogfish', sans-serif;
  font-size: 45pt;
  color: white;
}

/* Main Page's navbar design */

.navbar {
  background-color: rgb(255, 246, 235);
  height: 50px;
  outline: 1px solid;
  outline-color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  font-family: 'Dogfish', sans-serif;
  text-decoration: none;
  color: rgb(54, 54, 54);
}

/* form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
} */

nav {
  display: flex;
  justify-content: space-around;
}
