
.singleProductPage {
    margin-top: 100px;

}

p, h2 {
    font-family: 'Dogfish', sans-serif;
}

.selectedTitle {
    font-family: 'Dogfish', sans-serif;
}


.singleProduct_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}

.productimage_left{
    padding-right: 100px;
}

.singleProductImg {
    width: 300px;
    height: auto;
    padding: 40px;
    outline: 1px solid;
    outline-color: rgb(219, 219, 219);
}

.productDescrib_right {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.isbn {
    font-size: 10pt;
    margin-bottom: 10px;
}

.price {
    font-size: 15pt;
    font-style: italic;
}

.inStock {
    margin-top: 30px;
    margin-bottom: 10px;
}

.singleProductForm {
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.singleProductInput {
    width: 50px;
    font-size: 12pt;
}

::placeholder {
    text-align: center;
}

button {
    background-color: rgb(255, 216, 19);
    font-family: 'Dogfish', sans-serif;
    padding: 10px;
    border-radius: 10px;
}
.singleBookReivews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.singleBookReivews h1{
    margin: 0;
}

.starReviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewLink {
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-family: 'Dogfish', sans-serif;
}
